body {
  background-color: #000000e5;
  color: rgb(184, 184, 184);
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 25vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #00000098;
  transform: translateY(25vh);
  padding: 0 2rem 2rem 2rem;
  h3 {
    letter-spacing: 1rem;
  }
  textarea {
    background-color: #312f2f6e;
    border: none;
    color: rgb(150, 150, 150);
    text-indent: 0.5rem;
    padding: 0.5rem;
    letter-spacing: 0.9px;
  }
  lable {
    letter-spacing: 2px;
  }
}
